$background-color: #fff;
$border-color: #dddddd;

.app-body {
  background: $background-color;
  padding: 60px 10px !important;
  .app-content {
    overflow: auto !important;
  }
}
.form-horizontal {
  overflow: hidden;
  .form-control {
    font-size: 16px;
  }
}