.app-body {
  background: #fff;
  padding: 60px 10px !important; }
  .app-body .app-content {
    overflow: auto !important; }

.form-horizontal {
  overflow: hidden; }
  .form-horizontal .form-control {
    font-size: 16px; }
