{% raw %}

  <div data-ng-hide="arduino_connected">
    <div class="alert alert-warning" role="alert">
      Warning: Arduino not currently connected. 
      <a href="javascript:window.location.reload();"><i class="fa fa-refresh"></i> Refresh</a>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading">
      <h2 class="panel-title">{{ main }}</h2>
    </div>
    <div class="panel-body">
      <span data-ng-show="processing">
        <i class='fa fa-spin fa-cog'></i> processing...
      </span>
      <span data-ng-hide="processing">{{ status }}</span>
    </div>
  </div>

  <switch ng-model="on" data-ng-click="clickOn()"></switch>

{% endraw %}
